<!--///////////////////////////////////////////////////////////////////////
FOOTER
///////////////////////////////////////////////////////////////////////-->
<footer class="cf">

	<!-- <div class="fullWidth cf htmlBg">

		<div class="nextSectionBtn">
			<span class="staticText">Next: </span>
			<div class="sectionCarousel">
				<span>HTML</span>
				<span>CSS &amp; SASS</span>
				<span>JS &amp; jQUERY</span>
				<span>Quality Assurance</span>
			</div>
			<span class="nextPointer iconSet-pointer"> </span>
		</div>
		
	</div> -->
	
</footer>
<!--///////////////////////////////////////////////////////////////////////
END FOOTER
///////////////////////////////////////////////////////////////////////-->