

<header class="cf open">

	<div class="container cf">

		<div class="row cf">

			<div class="threecol cf">

				<div class="logoBox cf">

					<div id="logo" class="iconSet-logo">
					</div>

				</div>

			</div> <!-- close threecol -->

			<div class="ninecol last cf">
				
				<div class="headContents">
					
					<div class="sectionTitle">
						<div class="headerBg summaryBg"></div>
						<h3 class="summaryTitle on">Summary</h3>
						<h3 class="htmlTitle off">HTML</h3>
						<h3 class="cssTitle off">CSS/SASS</h3>
						<h3 class="jsTitle off">Javascript &amp; jQuery</h3>
						<h3 class="qaTitle off">Quality Assurance</h3>
					</div>

				</div>

			</div>

		</div>
		
	</div>

</header>