<section id="jsSubMenu" class="subMenu closed">
			<h3>JS/jQuery</h3>
			<ul>
				<li>
					<a class="jsbasic">Basic Syntax</a>
				</li>

				<li>
					<a class="filestructure">File Structure</a>
				</li>

				<li>
					<a class="fileformat">File Format</a>
				</li>

				<li>
					<a class="variables">Variables</a>
				</li>

				<li>
					<a class="objects">Objects</a>
				</li>

				<li>
					<a class="functions">Functions</a>
				</li>

				<li>
					<a class="ifelse">If/Else Statements</a>
				</li>

				<li>
					<a class="switch">SWITCH Staments</a>
				</li>

				<li>
					<a class="for">FOR loops</a>
				</li>

				<li>
					<a class="while">WHILE loops</a>
				</li>

				<li>
					<a class="with">WITH statement</a>
				</li>

				<li>
					<a class="jquery">jQuery</a>
				</li>

			</ul>
		</section>