<section id="qaSubMenu" class="subMenu closed">
			<h3>QA</h3>
			<ul>
				<li>
					<a class="git">GIT</a>
				</li>

				<li>
					<a class="peerreview">Peer Review</a>
				</li>

				<li>
					<a class="browsertesting">Browser Testing</a>
				</li>

				<li>
					<a class="performance">Performance</a>
				</li>

				<li>
					<a class="onlinetools">Online Tools</a>
				</li>

				<li>
					<a class="unittesting">Unit Testing</a>
				</li>

				<li>
					<a class="environments">Environments</a>
				</li>

				<li>
					<a class="signoff">Sign Off</a>
				</li>

				<li>
					<a class="release">Release</a>
				</li>

			</ul>
		</section>