<!--///////////////////////////////////////////////////////////////////////
JAVASCRIPT PLUGINS
///////////////////////////////////////////////////////////////////////-->

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/velocity.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script src="js/prism.js"></script>

<!--///////////////////////////////////////////////////////////////////////
JAVASCRIPT CUSTOM
///////////////////////////////////////////////////////////////////////-->
<script type="text/javascript" src="js/functions.js"></script>