/* Variables */

/* WIDTHS */
$width10: 10%;
$width20: 20%;
$width30: 30%;
$width40: 40%;
$width45: 45%;
$width50: 50%;
$width60: 60%;
$width70: 70%;
$width80: 80%;
$width90: 90%;
$width100: 100%;

/* FLOATS & ALIGNMENT **/
$left: left;
$right: right;
$none: none;

/* MARGINS, PADDINGS & FONTS */
$spacePointOne: 0.1em;
$spaceQuarter: 0.25em;
$spaceHalf: 0.5em;
$spaceOne: 1em;
$spaceOneHalf: 1.5em;
$spaceTwo: 2em;
$spaceTwoHalf: 2.5em;
$spaceThree: 3em;
$spaceFour: 4em;
$spaceFive: 5em;
$spaceSix: 6em;

$font8: 0.8em;
$font9: 0.9em;
$font1: 1em;
$font1-2: 1.2em;
$font1-25: 1.25em;
$font1-5: 1.5em;
$font2: 2em;
$font3: 3em;
$fontArial: "Arial", sans-serif;